body{
    padding:0;
    margin:0;
}
.header{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #ffe1af;
    padding:20px;
    border-radius: 0 0 100px 100px;
    gap:10px;
}